<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.name}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
          <tr>
            <th class="table__col1">所属</th>
            <td class="table__col2"><%= @user.occupation %></td>
          </tr>
          <tr>
            <th class="table__col1">役職</th>
            <td class="table__col2"><%= @user.position %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.name}さんのフォト"%>
      </h2>
      
      <div class="user__card">
        <%@photos.each do |photo|%>
          <div class="card">
            <%= link_to image_tag(photo.image , class: :card_img ),  photo_path(photo.id)%>
            <div class="card__body">
              <%= link_to photo.title, photo_path(photo.id), class: :card__title%>
              <p class="card__summary">
                <%= photo.describe %>
              </p>
              <%= link_to "by#{photo.user.name}", user_path(photo.user.id), class: :card__user %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>


